.container {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  width: 800px;
  height: 600px;
  padding: 0.5em 1em 0.5em;
  margin: auto;
}

/* -- MAIN START -- */
.main-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* -- MAIN END -- */

/* -- EARTH START -- */
.container.earth {
  background-image: url('img/hangar.png');
  background-position: center;
  background-position-y: 55%;
  background-repeat: no-repeat;
  background-size: 150%;
}

.earth-container {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    "parts timer launch"
    "parts rocket messages";
}
.earth-container .timer-container {
  background-color: red;
  grid-area: timer;
  align-self: center;
  justify-self: center;
}
.earth-container .part-container {
  grid-area: parts;
  max-height: 600px;
}
.earth-container .rocket-container {
  grid-area: rocket;
  max-height: 450px;
  position: relative;
  overflow: hidden;
}
.earth-container .message-container {
  grid-area: messages;
  max-height: 450px;
}
.earth-container .launch-container {
  grid-area: launch;
  align-self: center;
  justify-self: center;
}

.part-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part-container div {
  width: 100px;
  min-height: 100px;
  background-image: url('img/inventory.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part-container div img {
  max-height: 80px;
  max-width: 80px;
  padding: 10px;
  object-fit: contain;
  width: 100%;
}

#rocket {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 200px;
  top: 30%;
  left: 80%;
  transform: scale(2);
}
#rocket img {
  position: absolute;
  transform: translateX(-50%);
}
#rocket .top {
  top: 0;
  z-index: 10;
}
#rocket .body {
  top: 27%;
}
#rocket .bottom {
  top: 57%;
  z-index: 10;
}
#rocket .scuttle {
  top: 35%;
  z-index: 10;
}
#rocket .door {
  top: 49%;
  left: 12%;
  z-index: 10;
}
/* -- EARTH END -- */

/* -- MOON START -- */
.container.moon {
  background-image: url('img/moon.png');
  background-position: center;
  background-repeat: no-repeat;
}

.moon-container {
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    "timer timer"
    "blueprint messages";
}
.moon-container .timer-container {
  background-color: red;
  grid-area: timer;
  align-self: center;
  justify-self: center;
}
.moon-container .blueprint-container {
  grid-area: blueprint;
  height: 450px;
  position: relative;
}
.moon-container .message-container {
  grid-area: messages;
  height: 450px;
}

#blueprint {
  background-image: url("img/blueprint.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 309px;
  height: 218px;
  top: 18%;
  left: 20%;
  transform: scale(1.8);
  position: relative;
  display: inline-block;
}
#blueprint img {
  position: absolute;
}
#blueprint .top {
  top: 1%;
  left: 75%;
  transform: scale(0.5) rotate(30deg);
}
#blueprint .body {
  top: 5%;
  left: 15%;
  transform: scale(0.35) rotate(-45deg);
}
#blueprint .bottom {
  top: 53%;
  left: 12%;
  transform: scale(0.4);
}
#blueprint .scuttle {
  top: 34%;
  left: 78%;
}
#blueprint .door {
  top: 58%;
  left: 80%;
}
/* -- MOON END -- */

/* -- COMMON START -- */
.message-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(198, 130, 255, 0.25);
}
.message-container .message-box {
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.message-container .message-box .earth {
  align-self: flex-end;
  background-color: rgba(23, 66, 0, 0.65);
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.1em;
}
.message-container .message-box .earth:before {
  content: "🌍 ";
}
.message-container .message-box .moon {
  align-self: flex-start;
  background-color: rgba(49, 183, 155, 0.3);
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.1em;
}
.message-container .message-box .moon:before {
  content: "🌖 ";
}
.message-container .message-box .game {
  align-self: center;
  background-color: rgba(255, 0, 0, 0.3);
  width: 90%;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.1em;
  text-align: center;
}

.message-container .message-sender {
  display: flex;
}
.message-container .message-sender input {
  flex: 1;
  height: 1.5em;
}
/* -- COMMON END -- */
